<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <div class="container">
          <img id="img1">
          <img id="img2">
          <img id="img3">
      </div>
      <div class="InnovativeFeatures">
          <div class="innovativeFeaturesTexts" id="veintepx">
              <span class="focus">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit. Nulla et dignissim neque. In ac elit nec quam commodo sagittis eu sit amet neque. Nunc pretium posuere nunc, a vestibulum dolor aliquam sit amet. In porttitor aliquet condimentum. Aenean pulvinar condimentum arcu eget fringilla. Suspendisse dapibus enim vel quam ultricies, at vehicula est ornare. Morbi hendrerit dapibus mi eget bibendum. Sed id erat ornare, egestas nibh sit amet, feugiat purus. Pellentesque imperdiet scelerisque viverra.
  
              Quisque tristique ultrices facilisis. Vivamus ut elementum lacus. Mauris eleifend pharetra venenatis. Etiam id risus bibendum, blandit diam in, pellentesque risus. Phasellus finibus feugiat orci ac accumsan. Quisque eget sapien ut mi elementum mattis. Nullam dictum molestie sodales. Sed volutpat rutrum odio in sodales. Curabitur aliquam suscipit ullamcorper. Donec sed pharetra dolor, a fermentum felis. Nulla tempor ex enim, in tempus libero fermentum eget. Maecenas maximus euismod tortor, non suscipit nisl egestas ac. Proin bibendum erat nec.
          </div>
          <div class="innovativeFeaturesTexts" id="cientoveintepx">
              <span class="focus">Another feature</span> dolor sit amet, consectetur adipiscing elit. Nulla et dignissim neque. In ac elit nec quam commodo sagittis eu sit amet neque. Nunc pretium posuere nunc, a vestibulum dolor aliquam sit amet. In porttitor aliquet condimentum. Aenean pulvinar condimentum arcu eget fringilla. Suspendisse dapibus enim vel quam ultricies, at vehicula est ornare. Morbi hendrerit dapibus mi eget bibendum. Sed id erat ornare, egestas nibh sit amet, feugiat purus. Pellentesque imperdiet scelerisque viverra.
  
              Quisque tristique ultrices facilisis. Vivamus ut elementum lacus. Mauris eleifend pharetra venenatis. Etiam id risus bibendum, blandit diam in, pellentesque risus. Phasellus finibus feugiat orci ac accumsan. Quisque eget sapien ut mi elementum mattis. Nullam dictum molestie sodales. Sed volutpat rutrum odio in sodales. Curabitur aliquam suscipit ullamcorper. Donec sed pharetra dolor, a fermentum felis. Nulla tempor ex enim, in tempus libero fermentum eget. Maecenas maximus euismod tortor, non suscipit nisl egestas ac. Proin bibendum erat nec.
          </div>
  </div>   
  </body>
</html>