body{
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
    height: 1600px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: fixed;
    width: 360px;
    height: 640px;
    background: rgba(0,0,0,0.3);
    transform: rotate(-30deg) skew(25deg) scale(0.8);
    transition: 0.5s;
}

.container img{
    position: absolute;
    width: 100%;
    transition: 0.5s;
}

.container:hover img:nth-child(3){
    transform: translate(120px,-120px);/* rotate(30deg);
    transform-origin: 0% 100%;*/
}
.container:hover img:nth-child(2){
    transform: translate(80px,-80px);/* rotate(30deg);
    transform-origin: 0% 100%;*/
    opacity: .8;
}
.container:hover img:nth-child(1){
    transform: translate(40px,-40px);/* rotate(30deg);
    transform-origin: 0% 100%;*/
    opacity: .6;
}

.InnovativeFeatures{
    width: 480px;
    position: absolute;
    left: 550px;
    text-align: justify;
}

.InnovativeFeatures div{
    opacity: 0;
    visibility: hidden;
}

.focus{
    font-size: 300%;
    font-weight: bolder;
}

.innovativeFeaturesTexts{
    position: absolute;
    width: inherit;
    transition: opacity 0.5s ease;
}

#veintepx{
    top: 60px;
}

#cientoveintpx{
    top: 140px;
}